@model Product

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-primary">Product Details</h1>

<div class="card mt-4">
    <div class="card-body">
        <h4 class="card-title">Product Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.StockQuantity)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.StockQuantity)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Supplier)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Supplier)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.ProductId" class="btn btn-warning mr-2">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
